<span class="addtocalendar atc-hl {{atcClass}}">
	<a class="atcb-link" onClick="ga('send', 'event', 'Add To Calendar', 'click', 'Preview Page');">Add to Calendar</a>
	<var class="atc_event">
		<var class="atc_date_start">{{atcStart}} 08:00:00</var>
		<var class="atc_date_end">{{atcEnd}} 07:59:59</var>
		<var class="atc_timezone">America/Los_Angeles</var>
		<var class="atc_title">{{brand}} | Hautelook</var>
		<var class="atc_description">{{brand}} event on HauteLook</var>
		<var class="atc_location">https://www.hautelook.com</var>
	</var>
</span>
<span class="addtocalendar atc-nr {{atcClass}}">
	<a class="atcb-link" onClick="ga('send', 'event', 'Add To Calendar', 'click', 'Preview Page');">Add to Calendar</a>
	<var class="atc_event">
		<var class="atc_date_start">{{atcStart}} 08:00:00</var>
		<var class="atc_date_end">{{atcEnd}} 07:59:59</var>
		<var class="atc_timezone">America/Los_Angeles</var>
		<var class="atc_title">{{brand}} | Nordstrom Rack</var>
		<var class="atc_description">{{brand}} event on nordstromrack.com</var>
		<var class="atc_location">https://www.nordstromrack.com</var>
	</var>
</span>
