<div id="{{productID}}" class="promo-product_item {{productClass}}">
	<a href="{{productLink}}" class="promo-product_link">
		<img src="https://www.hautelookcdn.com/resizer/434x650/products/{{productImage}}" srcset="https://www.hautelookcdn.com/resizer/434x650/products/{{productImage}} 1x, https://www.hautelookcdn.com/resizer/868x1300/products/{{productImage}} 2x" alt="{{productBrand}} - {{proaductName}}" class="promo-product_image">
		<div class="promo-product_copy">
			<h3 class="promo-product_brand">{{productBrand}}</h3>
			<p class="promo-product_name">{{productName}}</p>
			<p><span class="promo-product_currentprice">{{productCurrentPrice}}</span> <span class="promo-product_originalprice">{{productOriginalPrice}}</span> <span class="promo-product_valueprop">{{productValueProp}}</span></p>
		</div>
	</a>
</div>
